/* module.exports = {"header":"header-module--header--1p7vC","headerImage":"header-module--headerImage--1hCYx","headerContent":"header-module--headerContent--Fsgo2","topSection":"header-module--topSection--1gEla","authorContainer":"header-module--authorContainer--1a3wk","operator_review":"header-module--operator_review--2jac2","default":"header-module--default--19Ol7","h1":"header-module--h1--2cSO1","headerText":"header-module--headerText--2Qk7_","game_review":"header-module--game_review--2LZbD","article_detail":"header-module--article_detail--2ZrvH","article_casinos":"header-module--article_casinos--38Ofo","article_sports":"header-module--article_sports--1FV3s","author":"header-module--author--2I0Vw"}; */
.header {
  margin-top: 6rem;
  background: var(--color-7);
  z-index: 0;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .header {
    min-height: 1.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    min-height: 27rem;
  }
}

.headerImage {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .header-headerImage {
    -o-object-fit: fill;
    object-fit: fill;
  }
}

.header-headerImage img {
  height: 100%;
  width: 100%;
}

.header-headerContent {
  z-index: 1;
  max-width: var(--main-container-max);
  margin: 0 auto;
  padding: 0.1rem 2.4rem;
  color: var(--color-12);
}

.header-headerContent .header-topSection {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .header-headerContent .header-topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-headerContent .header-topSection .header-authorContainer {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--color-22);
}

.header-headerContent .header-topSection .header-authorContainer a {
  color: var(--color-22);
}

.header-headerContent .header-topSection .header-authorContainer a:hover {
  text-decoration: underline;
}

.header-headerContent
  .header-topSection
  .header-authorContainer
  > div:first-child {
  padding-right: 1rem;
}

.header-headerContent.header-operator_review
  .header-authorContainer
  > div:first-child {
  padding-right: 0;
}

.header-headerContent.header-operator_review
  .header-authorContainer
  > div:last-child {
  display: none;
}

.header-headerContent.header-default .header-h1,
.header-headerContent.header---default h1 {
  margin: 1.2rem 0 1rem;
  font-size: 2.5rem;
}

@media only screen and (min-width: 1200px) {
  .header-headerContent.header-default .header-h1,
  .header-headerContent.header-default h1 {
    margin: 1.9rem 0 1.6rem;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .header-headerContent .header-headerText {
    padding: 0 20rem 2rem 0;
  }
}

.header-headerContent.header-game_review img:first-of-type {
  width: 100%;
}

.header-headerContent.header-article_casinos > div:first-child,
.header-headerContent.header-article_casinos > h1,
.header-headerContent.header-article_detail > div:first-child,
.header-headerContent.header-article_detail > h1,
.header-headerContent.header-article_sports > div:first-child,
.header-headerContent.header-article_sports > h1,
.header-headerContent.header-author > div:first-child,
.header-headerContent.header-author > h1,
.header-headerContent.header-game_review > div:first-child,
.header-headerContent.header-game_review > h1,
.header-headerContent.header-operator_review > div:first-child,
.header-headerContent.header-operator_review > h1 {
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .header-headerContent.header-article_casinos,
  .header-headerContent.header-article_detail,
  .header-headerContent.header-article_sports,
  .header-headerContent.header-author,
  .header-headerContent.header-game_review,
  .header-headerContent.header-operator_review {
    padding: 0;
  }

  .header-headerContent.header-article_casinos > ol,
  .header-headerContent.header-article_detail > ol,
  .header-headerContent.header-article_sports > ol,
  .header-headerContent.header-author > ol,
  .header-headerContent.header-game_review > ol,
  .header-headerContent.header-operator_review > ol {
    padding: 1rem 2.3rem 0;
  }

  .header-headerContent.header-article_casinos > div:first-child,
  .header-headerContent.header-article_casinos > h1,
  .header-headerContent.header-article_detail > div:first-child,
  .header-headerContent.header-article_detail > h1,
  .header-headerContent.header-article_sports > div:first-child,
  .header-headerContent.header-article_sports > h1,
  .header-headerContent.header-author > div:first-child,
  .header-headerContent.header-author > h1,
  .header-headerContent.header-game_review > div:first-child,
  .header-headerContent.header-game_review > h1,
  .header-headerContent.header-operator_review > div:first-child,
  .header-headerContent.header-operator_review > h1 {
    padding: 0 2.4rem;
  }
}
